/* Question setting page */
.forms {
    margin: 10px;
    /* padding: 10px; */
}

#tag {
    border: 2px solid black;
    border-radius: 3px;
}

/* input {
    background-color: white !important;
} */

#submit-but {
    border: 2px solid black;
    padding: 5px;
    border-radius: 3px;
}


#score-table
{
    border: 2px solid #ab47bc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    margin: 5em auto;
    /* align-items: center; */
    /* width: 100%; */
    /* justify-content: center; */
    padding: 10px;
    gap: 1rem;
}

#score{
    width: 100%;
    max-height: 50vh;
    overflow-y: auto;
}

#save{
    margin-right:20px;
}

#teacherDash{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    flex-direction: column;
}

/* #register{
    background-color: black;
    margin: 2em auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 5px ;
} */